name: "mend"

on:
  pull_request:
    types:
      - closed
    branches:
      - "main"
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  mend:
    if: github.event_name == 'schedule' || github.event_name == 'workflow_dispatch' || (github.event.pull_request.merged == true && github.ref == 'refs/heads/main')
    uses: "puppetlabs/cat-github-actions/.github/workflows/tooling_mend_ruby.yml@main"
    secrets: "inherit"
    with:
      product_name: InsTalleR
