---
name: "Backup and restore test"

on:
  workflow_dispatch:
    inputs:
      image:
        description: "GCP image for test cluster"
        required: true
        default: "almalinux-cloud/almalinux-8"
      architecture:
        description: "PE architecture to test"
        required: true
        default: "standard"
      version:
        description: "PE version to install"
        required: true
        default: "2023.5.0"
      ssh-debugging:
        description: "Boolean; whether or not to pause for ssh debugging"
        required: true
        default: "false"

jobs:
  backup:
    name: "Backup cluster: PE ${{ inputs.version }} ${{ inputs.architecture }} on ${{ inputs.image }}"
    runs-on: ubuntu-20.04
    env:
      BOLT_GEM: true
      BOLT_DISABLE_ANALYTICS: true
      LANG: "en_US.UTF-8"

    steps:
      - name: "Start SSH session"
        if: ${{ github.event.inputs.ssh-debugging == 'true' }}
        uses: luchihoratiu/debug-via-ssh@main
        with:
          NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}
          SSH_PASS: ${{ secrets.SSH_PASS }}

      - name: "Checkout Source"
        uses: actions/checkout@v2

      - name: "Activate Ruby 2.7"
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "2.7"
          bundler-cache: true

      - name: "Print bundle environment"
        if: ${{ github.repository_owner == 'puppetlabs' }}
        run: |
          echo ::group::info:bundler
            bundle env
          echo ::endgroup::

      - name: "Provision test cluster"
        timeout-minutes: 15
        run: |
          echo ::group::prepare
            mkdir -p $HOME/.ssh
            echo 'Host *'                      >  $HOME/.ssh/config
            echo '    ServerAliveInterval 150' >> $HOME/.ssh/config
            echo '    ServerAliveCountMax 2'   >> $HOME/.ssh/config
            bundle exec rake spec_prep
          echo ::endgroup::

          echo ::group::provision
              bundle exec bolt plan run peadm_spec::provision_test_cluster \
                --modulepath spec/fixtures/modules \
                provider=provision_service \
                image=${{ inputs.image }} \
                architecture=${{ inputs.architecture }}
          echo ::endgroup::

          echo ::group::info:request
            cat request.json || true; echo
          echo ::endgroup::

          echo ::group::info:inventory
            sed -e 's/password: .*/password: "[redacted]"/' < spec/fixtures/litmus_inventory.yaml || true
          echo ::endgroup::

      - name: "Install PE on test cluster"
        timeout-minutes: 120
        run: |
          bundle exec bolt plan run peadm_spec::install_test_cluster \
            --inventoryfile spec/fixtures/litmus_inventory.yaml \
            --modulepath spec/fixtures/modules \
            architecture=${{ inputs.architecture }} \
            version=${{ inputs.version }} \
            --stream

      - name: Perform peadm backup of cluster
        timeout-minutes: 10
        continue-on-error: true
        run: |
          echo ::group::prepare
            mkdir -p $HOME/.ssh
            echo 'Host *'                      >  $HOME/.ssh/config
            echo '    ServerAliveInterval 150' >> $HOME/.ssh/config
            echo '    ServerAliveCountMax 2'   >> $HOME/.ssh/config
            bundle exec rake spec_prep
          echo ::endgroup::

          echo ::group::backup
            bundle exec bolt plan run peadm_spec::test_backup \
              --inventoryfile spec/fixtures/litmus_inventory.yaml \
              --modulepath spec/fixtures/modules
          echo ::endgroup::

      - name: Set up yq
        uses: frenck/action-setup-yq@v1
        with:
          version: v4.30.5
      
      - name: "Wait as long as the file ${HOME}/pause file is present"
        continue-on-error: true
        # if: ${{ always() && github.event.inputs.ssh-debugging == 'true' }}
        if: github.event.inputs.ssh-debugging == 'true'
        run: |
          while [ -f "${HOME}/pause" ] ; do
            echo "${HOME}/pause present, sleeping for 60 seconds..."
            sleep 10
          done 
          echo "${HOME}/pause absent, continuing workflow."

      - name: Break PE cluster
        run: |
          primary=$(yq '.groups[].targets[] | select(.vars.role == "primary") | .uri' spec/fixtures/litmus_inventory.yaml)
          echo "Removing ssl directories"
          bundle exec bolt command run "rm -rf /etc/puppetlabs/puppetserver/ca /etc/puppetlabs/puppet/ssl" -t $primary
          echo "Removing config file"
          bundle exec bolt command run "rm /etc/puppetlabs/enterprise/conf.d/pe.conf" -t $primary

          bundle exec bolt command run "puppet infrastructure status" -t $primary

      - name: Perform peadm restore of cluster
        timeout-minutes: 10
        continue-on-error: true
        run: |
          echo ::group::prepare
            mkdir -p $HOME/.ssh
            echo 'Host *'                      >  $HOME/.ssh/config
            echo '    ServerAliveInterval 150' >> $HOME/.ssh/config
            echo '    ServerAliveCountMax 2'   >> $HOME/.ssh/config
            bundle exec rake spec_prep
          echo ::endgroup::

          echo ::group::restore
            TARBALL=$(echo /tmp/pe-backup*gz)
            bundle exec bolt plan run peadm_spec::test_restore input_file="$TARBALL" \
              --inventoryfile spec/fixtures/litmus_inventory.yaml \
              --modulepath spec/fixtures/modules
          echo ::endgroup::

      - name: Output PE cluster status
        run: |
          primary=$(yq '.groups[].targets[] | select(.vars.role == "primary" | .uri)' spec/fixtures/litmus_inventory.yaml)
          bundle exec bolt command run "puppet infrastructure status" -t $primary

      - name: "Wait as long as the file ${HOME}/pause2 file is present"
        continue-on-error: true
        # if: ${{ always() && github.event.inputs.ssh-debugging == 'true' }}
        if: github.event.inputs.ssh-debugging == 'true'
        run: |
          while [ -f "${HOME}/pause2" ] ; do
            echo "${HOME}/pause2 present, sleeping for 60 seconds..."
            sleep 10
          done 
          echo "${HOME}/pause2 absent, continuing workflow."

      - name: "Tear down cluster"
        if: always()
        run: |
          if [ -f spec/fixtures/litmus_inventory.yaml ]; then
            echo ::group::tear_down
              bundle exec rake 'litmus:tear_down'
            echo ::endgroup::

            echo ::group::info:request
              cat request.json || true; echo
            echo ::endgroup::
          fi
